body{
  background-color: rgb(33, 33, 36);
}

//*hand 3
#grid-item-2{
  transform: rotate(180deg);
  z-index: 5;
}
//*hand 2
#grid-item-4{
  transform: rotate(90deg);
  z-index: 5;
}
//*hand 4
#grid-item-6{
  transform: rotate(-90deg);
  z-index: 5;
}
//*hand 1
#grid-item-8{
  z-index: 5;
}

#center{
   // background-color: black;

  height: 145px;
  width: 230px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#deck1:hover, #pile1:hover{
  transform: scale(1.01);
}

.handDiv{
  z-index: 5;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#grid-item-center{
  transition: all 0.75s linear;
}

#tableInner{
  transition: all 0.75s linear;
}
#tableOuter{
  overflow: hidden;
}


#deck1:hover, #pile1:hover {
  transform: scale(1.1);
}

.grid-container-center{
  display: grid;
  grid-template-columns: auto auto;
}

.grid-container-board {
  // border: 1px solid rgba(0, 0, 0, 0.8);
  // background-color: #2196F3;

  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 0;
  row-gap: 0;
  position: relative;
  width: 70%;
  max-width: 900px;
  max-height: 900px;
  margin: auto;
    
}
.grid-item-board {
  // background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);

  max-height: 300px;
  height: 0;
  max-width: 300px;
  display: block;
  width: 100%;
  padding-top: 100%;
  position: relative;
}

